/* importações (inicio) */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* importações (final) */

/* reset (inicio) */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset (final) */

/* section (inicio) */
section{
    width: 100%;
    height: 100vh;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* section (final) */

/* section/header (inicio) */
section header{
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    padding: 12px;
    border-radius: 6px;
}
/* section/header (final) */

/* section/header/h1 (inicio) */
section header h1{
    color:white;
}
/* section/header/h1 (final) */

/* section/header/p (inicio) */
section header p{
    color: rgb(221, 221, 221);
    margin: 6px 0px;
}
/* section/header/p (final) */

/* section/main (inicio) */
section main{
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    padding: 12px;
    border-radius: 6px;
    margin: 12px 0px;
}
/* section/main (final) */

/* section/main/h2 (inicio) */
section main h2{
    color: white;
}
/* section/main/h2 (final) */

/* section/main/form (inicio) */
section main form{
    max-width: 330px;
}
/* section/main/form (final) */

/* section/main/form/caixa-adicionar-gerar (inicio) */
section main form caixa-adicionar-gerar{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section/main/form/caixa-adicionar-gerar (final) */

/* section/main/form/label (inicio) */
section main form label{
    color: white;
}
/* section/main/form/label (final) */

/* section/main/form/input (inicio) */
section main form input{
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    margin-top: 5px;
    outline: none;
    transition: border 0.3s ease;
}
section main form input:focus{
    border-color: #006eff;
    box-shadow: 0 0 5px rgba(0, 110, 255, 0.2);
}
/* section/main/form/input (final) */

/* section/main/form/inp-pergunta (inicio) */
section main form .inp-pergunta{
    width: 330px;
    margin: 6px 0px;
}
/* section/main/form/inp-pergunta (final) */

/* section/main/form/inp-alternativa (inicio) */
section main form .inp-alternativa{
    width: 310px;
}
/* section/main/form/inp-alternativa (final) */

/* section/main/form/campo-alternativa (inicio) */
section main form .campo-alternativa{
    margin: 6px 0;
}
/* section/main/form/campo-alternativa (final) */

/* section/main/form/button (inicio) */
section main form button{
    padding: 10px 20px;
    background-color: rgb(0, 110, 255);
    color: white;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    margin: 6px 6px;
}
section main form button:hover{
    background-color: rgb(1, 94, 216);
}
/* section/main/form/button (final) */